doctype html
html(lang="de")
	head

		<!-- STYLES -->
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" title="cardsize" href="css/bigcards.css" type="text/css" media="all" />
		<link rel="stylesheet" title="cardsize" href="css/smallcards.css" type="text/css" media="all" />
		<link rel="stylesheet" type="text/css" href="fonts/style_icomoon.css" />

		<!-- FONTS -->
		<link rel="stylesheet" type="text/css" href="css/fonts.rock_and_salt.css">
		<link rel="stylesheet" type="text/css" href="css/fonts.covered_by_your_grace.css">

		<!-- SCRIPTS -->

		<!-- jQuery -->
		<script src="lib/jquery-3.3.1.min.js"></script>
		<script src="lib/jquery-ui-1.12.1.js"></script>

		<!-- External Scripts -->
		<script src="lib/jquery.ui.touch-punch.min.js"></script>
		<script src="lib/jquery.jeditable.js"></script>
		<script src="lib/jquery.blockUI.js"></script>

		<!-- Socket.IO -->
		<script src="socket.io/socket.io.js"></script>

		<!-- ** My Script ** -->
		<script src="script.js"></script>


		title= locals.pageTitle

	body
		block body
